.hamburger {

    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    height: auto;
    background-color: transparent;
    
    input {
      display: block;
      cursor: pointer;
      position: absolute;
      height: 40px;
      width: 40px;
      opacity:0;
      z-index:9;
      
      &:checked ~ span {      
        &:nth-child(2){
          opacity:1;
          transform:  rotate(-45deg) translate(-6px, 5px);          
        }
        &:nth-child(3){
            opacity:0;
        }
        
        &:nth-child(4){
          display: block;
          transform: rotate(135deg);
          opacity:1;
          margin-top: -3px;
          width: 35px;
          transform: rotate(45deg) translate(-5px, -5px);          
        }
      }
    }
    
    span {
      width:35px;
      height:3px;
      background: #4e4e4e;
      position:relative;
      display:block;
      margin: 4px 0;
      border-radius: 2px;
      transition: all .2s linear;
      

    }
       
  }
  
  