.footer {
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 3rem;
        p {
            
        }
    }
}