.btn {
    background-color: var(--clr-secondary-1);
    padding: .8rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--clr-white);
    box-shadow: 3px 3px 12px rgba(0,0,0,.2);
    transition: all .2s ease-in-out;
    border-radius: 3px;
    font-size: 1.6rem;
    &:hover {
        background-color: var(--clr-secondary-2);
        translate: 0px -1px;        
    }
}

.select {
    background-color: var(--clr-primary-2);
    color: var(--clr-primary-1);
    padding: .8rem .6rem;
    font-size: 1.6rem;
    width: 12rem;
}

.text-input {
    background-color: var(--clr-primary-2);
    color: var(--clr-primary-1);
    padding: 1rem .8rem;
    font-size: 1.4rem;
    width: 100%;    
    outline: none;
    border: none;
    border-radius: 5px;
}

.radio-input {
    padding: 4rem;
    font-size: 2rem;
}

.control-group {
    display: flex;
    gap: 2rem;
}
label {
    color: var(--clr-primary-1);
    font-size: 1.6rem;
    font-weight: 200;   

}
