.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--clr-scondary-1);
    img {
        width: 6rem;
        margin: 1rem;
    }
    .logo-text {
        position: relative;
        padding-bottom: 1rem;
    }
    .logo-subtext {
        position: absolute;
        font-size: 1.8rem;
        font-weight: 100;
        top: 3.2rem;
        left: 1.4rem;
        letter-spacing: 1.1px;
    }
}

.nav {
    padding-bottom: 1rem;
    color: var(--clr-scondary-1);   
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-left {
        display: none;
        @media screen and (min-width: 750px) {
            display: flex;  
            align-items: center;
            gap: 2rem;
        }
    }
    a {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.2s ease-in-out;
        &:hover {
            border-bottom: 1px solid var(--clr-scondary-1);
        };
    }
    .hamburger {     
        cursor: pointer;   
        span {
            border-bottom: 1px solid var(--clr-scondary-1);
            display: block;
            width: 2rem;
            height: .5rem;
        }
        @media screen and (min-width: 748px) {
            display: none;
        }    
    }
}