.container {
  width: 100%;  
  max-width: 1400px;
  background-color: var(--clr-background);
  margin: 0 auto;
  height: 100vh; 
  min-height: 100vh; 
  display: grid;
  grid-template-rows: 8rem auto 5rem;
  grid-template-columns: [start]1rem  [center]1fr[endcenter] 1rem[end];

  @media screen and (min-width: 750px) {    
    grid-template-columns: [start]13rem  [center]1fr[endcenter] 1rem[end];
  }
}

.header {
  grid-column: start / end;
  background-color: var(--clr-primary-1);  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  @media screen and (min-width: 750px) {
    justify-content: start;
    align-items: baseline;
  }
}

main {
  grid-column: center / endcenter;  
  overflow-y: auto;
}

.footer {
  grid-column: start / end;
  background-color: var(--clr-primary-1)
}
