.date-picker {
    border: solid 1px var(--clr-gray-200);
    border-radius: .8rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    .day {
        font-size: 4rem;
    }
    .month {
        font-size: 2.6rem;
    }
    .year {
        font-size: 2rem;
    }

}