.dashboard {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 2rem;
    .dashboard-title {
        margin: 2rem 0;
        text-align: center;
        font-size: 3.8rem;
        color: var(--clr-gray-900)
    }
}