.book-container {
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 2.6rem;
    }
}

.bible-books {
    border: solid 2px black;
}

.bible-form {
    margin-top: 2rem;;
    border: solid 1px black;
    width: 25rem;
    margin: 0 auto;
    height: 25rem;
    transition: all .2s ease-in-out;
    form {
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        padding: 1rem;           
    }
    .form-show {
        display: flex;
        height: 50rem;
    }
    .form-hidden {
        display: none;
        height: 0;
    }
}