<div class="book-container">
  <h2>Bibelbücher</h2>
  <div class="bible-books">
    @if (testaments().length) {
    <select class="select" [(ngModel)]="selecetedTestament">
      <option [value]="undefined">Alle</option>
      @for (t of testaments(); track t.id) {
      <option [value]="t.id">{{ t.name }}</option>
      }
    </select>
    } @else {
    <p>Lade Testamente...</p>
    } @if(!errorMsg()) { @if (booksNT().length > 0) {
    <ul class="books-list">
      @for (book of booksNT(); track book.id) {
      <li class="book-item">{{ book.name }} ({{ book.testament.name }})</li>
      }
    </ul>
    } @else {
    <p>Lade Bücher...</p>
    } } @else {
    <p>Fehler beim Laden der Bücher: {{ errorMsg() }}</p>
    }
    <div class="bible-form">
      <button class="btn" (click)="displayNewTestamentForm()">
        <svg xmlns="http://www.w3.org/2000/svg" height="36" width="36" viewBox="0 0 100 100">
          <path d="M50 20 L50 80 M20 50 L80 50" stroke="black" stroke-width="2" />
        </svg>
      </button>
      <form
        #frm="ngForm"
        class="form"
        [ngClass]="displayTestamentForm() ? 'form-show' : 'form-hidden'"
      >
        <input class="text-input" type="text" placeholder="neues Buch eingeben" />      
        <div>
          <div class="control-group">
            <label class="label">AT</label>
            <input class="radio-input" type="radio" value="1" name="test" checked />
          </div>
          <div class="control-group">
            <label class="label">NT</label>
            <input class="radio-input" type="radio" value="2" name="test" />
          </div>
        </div>
        <button class="btn btn-success" type="submit">Speichern</button>
      </form>
    </div>
  </div>
</div>
