/* You can add global styles to this file, and also import other style files */
@import "styles/layouts.css";
@import "styles/header.css";
:root {
    --clr-background: rgb(247, 243, 249);
    --clr-primary-1: rgb(67, 7, 102);
    --clr-primary-2: rgb(218, 169, 247);
    --clr-scondary-1: rgb(197, 159, 22);
    --clr-gray-100: rgb(247, 243, 249);
    --clr-gray-200: rgb(216, 213, 218);
    --clr-gray-300: rgb(159, 156, 161);
    --clr-gray-900: rgb(64, 63, 65);
    --clr-green: rgb(44, 159, 44);
    --clr-red: rgb(228, 68, 68);
    --clr-blue: rgb(29, 108, 192);  

    /* Font Families */
    --font-family-anton: "Anton", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;

  /* Font Style */
    --font-style-normal: normal;   

}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;    
}

body {
    font-size: 1.6rem;
    font-family: var(--font-family-anton);
    font-style: var(--font-style-normal);    
    height: 100vh;
    min-width: 340px;
}

h1 {
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 2.8rem;
}
h2 {
    font-family: var(--font-family-poppins);
    font-weight: 300;
    font-size: 2.8rem;
}
