.bible-page{    
    position: relative;
    min-height: 100%;
    display: grid;    
    grid-template-columns: 3.6rem 1fr;
    position: relative;
    @media screen and (min-width: 750px) {
        grid-template-columns: 11rem 1fr;
      }
}
.bible-sidebar{    
    width: 22rem; 
    left: -1000px;
    transition: all 0.3s ease;
    position: absolute;    
    @media screen and (min-width: 750px) {
        width: 11rem;        
        left: 0px;
        top: 3rem
      }
}
.bible-content{
    width: 100%;
    padding: 1.6rem;
}

.sidebar-title > button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;  
      
}
.sidebar-title {
    display: flex;
    justify-items: center;
    align-items: start;
    gap: .8rem; 
    width: 100%;    
    padding-left: .7rem;
    margin: 1.3rem 0;  
    h2 {
        display: none;        
    }
}

@media screen and (min-width: 750px) {
    .sidebar-title > button {
        display: none;    
    }
    .sidebar-title > h2 {
        display: inline-block;
        margin: 0 auto;        
    }
}

.open {
    left: 0;
    top: 2.6rem;
}