
.header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  background-color: var(--clr-primary-2);
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 12px rgba(0,0,0,.2);
  border-bottom: 2px var(--clr-gray-200) solid;
  margin-bottom: 0rem;
  z-index: 1000;
}

.header__logo img {
  height: 40px;
}

.header__brand {
  display: flex;
  align-items: center;  
  gap: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  & h2 {
    font-size: 2.6rem;
    color: var(--clr-primary-1);
  }
}

.header__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
}

.header__nav li {
  a{
    display: block;  
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: .3rem;
    color: var(--clr-primary-1);
  }
}

.header__nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
}

.header__nav a.active {
  background-color: #ddd;
}

@media screen and (max-width: 750px) {
  .header__nav {
    display: none;
  }
}

