.sidebar {
    width: 10rem;
    height: 100%;
    background-color: #eee;
    position: relative;
    .sidebar-title {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 200;
        padding: .8rem 0;
    }
    .sidebar-items {
        list-style: none;        
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: .3rem;
        .sidebar-item {
            padding: .5rem 1rem;
            cursor: pointer;
            background-color: aliceblue;            
            .sidebar-link {
                text-decoration: none;
                color: #333;                
            }            
        }
    }
}