.bible-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .bible-sidebar-links {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: black;
            padding: 10px;
        }
    }
}