.sidebar {    
    height: 100%;
    width: 100%;
    background-color: var(--clr-primary-2);
    padding-left: 0.6rem;
    @media screen and (min-width: 750px) {
        width: 100%;
      }
    .sidebar-title {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 200;        
    }
    .sidebar-items {
        list-style: none;        
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;     
        margin: 2rem 0;
        
    }
    .sidebar-item {
        padding: .7rem 1.4rem;
        cursor: pointer; 
        background-color: var(--clr-primary-1);                 
        .sidebar-link {
            text-decoration: none;
            color: var(--clr-primary-2);
            font-size: 1.4rem;
            font-weight: 200;
            border-bottom: 1px solid var(--clr-primary-2);                
        }            
    }
}
